<!--
  Generated template for the PlayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div style="height: 100%; width: 100%">
        <scenegraph #scenegraph></scenegraph>
    </div>
</ion-content>
