page-home {
  text-align: center;
  display: flex;

  .title {
    padding: 20px 0;
    text-align: center;
  }

  h1 {
    font-size: 20px;
    letter-spacing: 1px;
    max-width: 220px;
    width: 100%;
    position: relative;
    display: inline-block;
    color: #465457;
  }

  .title h1{
    display: block;
    width: auto;
    margin: 15px auto;
    letter-spacing: 2px;
  }

  .title h1:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: -15px;
    width: 10px;
    height: 10px;
    border: 3px solid #fed57b;
    transform: rotate(45deg)
  }
  .title h1:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: -15px;
    width: 10px;
    height: 10px;
    border: 3px solid #fed57b;
    transform: rotate(45deg)
  }
}
